.git
.gitignore


.idea
*.iml
.vscode/


.env
/src/main/resources/certs/private.pem
/src/main/resources/certs/public.pem
/src/main/resources/certs/

*.log
*.tmp
*.bak
*.swp
.DS_Store


build/
out/
.gradle/

